.container{
  height: auto;
  width: fit-content;
  display: flex;
  gap: 5px;
  align-items: center;
}
.symbol{
  font-size: .6rem;
}
.edit {
      background: none;
      border: none;
      padding: 8px;
      border-radius: 8px;
}

.quantity-display {
  font-size: 16px;

}
