.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

content{
  width: 98%;
  height: 100%;
}

footer{
  margin-top: 30px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    width: 90%;
    height: 30px;
  }
}
