
<div class="toolbar">
      <!-- App icon / Home -->
      <a routerLink="/" class="logo" aria-label="Home">
        🥫<strong>{{ name() }}</strong>
      </a>

      <input
        type="text"
        placeholder="Search..."
        (input)="onSearch($any($event.target).value)"
      />

      <!-- Navigation -->
      <nav class="nav">
        <a routerLink="/new" tooltip="Add new product">
          ➕
        </a>
        <a
          routerLink="/pantry"
          routerLinkActive="active"
        >
          🏠
        </a>
        <a
          routerLink="/shop"
          routerLinkActive="active"
        >
          🛒
        </a>

        <a
          routerLink="/settings"
          routerLinkActive="active"
        >
          ⚙️
        </a>
      </nav>
</div>
